<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;

  }
</style>

<div class="messsage-content">
  <p>Olá {{name}}!</p>
  <br/>
  <p>Recebemos uma solicitação de redefinição de senha para sua conta</p>
  <p>Se realmente foi você quem realizou a solicitação, clique no link abaixo para redefinir sua senha</p>
  <p>
    <a href="{{link}}">Redefinir senha</a>
  </p>
  <p>Caso não tenha sido você, descarte este email.</p>
  <br/>
  <p>Equipe deebX</p>
</div>
